<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
                We’re pleased to announce {{ site.title }}! The group that brought you DevOpsDays Chicago 2015 is back together and planning the 2016 event. We're encouraged by the feedback from last year's event and are determined to bring an improved experience and continue the DevOps conversation this August in Chicago.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Speaker Package</h3>
            <p>
                We know speakers are key to the success of a conference and hope
                you will submit a talk.  In appreciation of your efforts, our speaker
                compensation package includes:

                <p><a href="{{ url('speaker_package') }}">View Full Speaker Package</a></p>
            </p>
        </div>
    </div>
</div>

<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible.
            We want to showcase talent available around the U.S. and welcome international submissions as well.
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
            professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy. All speakers are expected to adhere to the <strong><a href = "http://www.devopsdays.org/events/2016-chicago/conduct/" style="color:white;">Code of Conduct</a></strong>.
        </p>
    </div>
</section>
